body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    padding: 20px;
    background: #f9f9f9;
    margin-top: 56px; /* Adjust for fixed navbar */
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.product-item {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
}

.product-item img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.product-item h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.product-item p {
    font-size: 1rem;
    color: #333;
    margin-bottom: 10px;
}

.product-item .price {
    font-size: 1.2rem;
    color: #4CAF50;
    font-weight: bold;
}

footer {
    background: #343a40;
    color: white;
    text-align: center;
    padding: 10px 20px;
}

.footer-content {
    margin-bottom: 20px;
}

.footer-content .highlight {
    color: #ffc107;
}

nav.top-nav {
    display: flex;
    justify-content: space-around;
    background: #333;
    color: white;
    padding: 10px;
}

nav.top-nav a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 10px;
}

nav.top-nav a:hover {
    background: #575757;
    border-radius: 5px;
}
.logo-img {
    margin-top: -20px; 
    margin-bottom: -20px; 
    width: 75px; 
    height: 75px; 
}
.navbar-nav .nav-link {
    font-size: 16px; /* Adjust font size */
    padding: 10px;   /* Adjust spacing */
}
.bg-dark {
    --bs-bg-opacity: 1;
    background-color: #440107 !important;
}

@media (max-width: 768px) {
    .product-item {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 576px) {
    .bottom-nav {
        flex-direction: column;
        gap: 10px;
    }

    .bottom-nav .nav-button {
        font-size: 1rem;
    }
}