
        body, html {
        font-family: Arial, sans-serif;
        overflow-x: hidden;
        height: 100%; /* Ensure the body takes the full height */
    }

    /* Center the content vertically and horizontally */
    .profile-container {
        max-width: 100%;
        padding: 0 15px; /* Padding to prevent overlap */
        display: flex;
        justify-content: center; /* Horizontal centering */
        align-items: center; /* Vertical centering */
        min-height: 450px; 
        margin: 0; /* Remove the top and side margins */
    }

    /* For smaller screens */
    @media (max-width: 576px) {
        .card {
            margin-bottom: 20px; /* Add space between cards */
        }

        .row {
            margin-left: 0;
            margin-right: 0;
            width: 100%; /* Ensure the row takes full width */
        }
        .profile-container {
        max-width: 100%;
        padding: 0 15px; /* Padding to prevent overlap */
        display: flex;
        justify-content: center; /* Horizontal centering */
        align-items: center; /* Vertical centering */
        min-height: 750px; 
        margin: 0; /* Remove the top and side margins */
    }
    }

    /* Center the row in the container */
    .row {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    /* Logo adjustments */
    .logo-img {
        margin-top: -20px; 
        margin-bottom: -20px; 
        width: 75px; 
        height: 75px; 
    }

    /* Navbar adjustments */
    .navbar-nav .nav-link {
        font-size: 16px; /* Adjust font size */
        padding: 10px;   /* Adjust spacing */
    }

    /* Dark background color for headers */
    .bg-dark {
        --bs-bg-opacity: 1;
        background-color: #440107 !important;
    }
    .btn-success {
    --bs-btn-color: #fff;
    --bs-btn-bg: #440107;
    }
        
